// This is the styles sheet for Header

.Header {
    margin: 0 auto;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}