// This is the styles sheet for Header

.header {
    margin: 0 auto;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: grey;
}

.nav-item {
    padding: 1.5em;
}