// This is the style sheet for Footer

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #709176;
}

.footer-item {
    padding: 0.5em;
}

.footer-item:hover {
    
}